* { box-sizing: border-box; }
.html, body { padding: 0; margin: 0; }

.theme {
    height: 100%;
    --primary: #8b0000;
    --light-gray: #ccc;
    --dark-gray: #555;
    --font: 'Montserrat', sans-serif;
    --header-height: 8rem;
    --post-height: 15rem;

    font-family: var(--font);
    letter-spacing: 0.1rem;
    
    /* background-color for theme-mode transition */
    /* opacity expand post fade transition */
    transition: background-color 300ms, opacity 200ms;
}

.light-theme {
    --post-bg: #eee;
    --text: var(--dark-gray);
}

.dark-theme {
    background-color: var(--dark-gray);
    --post-bg: #777;
    --text: #fff;
}

.theme-icon {
    cursor: pointer;
    position: fixed;
    bottom: 3rem;
    right: 4rem;
    height: 2rem;
    width: 2rem;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex-col {
    flex-direction: column;
}

.no-margin { margin: 0; }

.padded { padding: 1rem; }
.padded-below { padding-bottom: 1rem; }
.padded-side { padding: 0 1rem; }

.text {
    color: var(--text, #aaa);
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: var(--text, #aaa);
    transition: color 100ms;
}

.link:hover {
    color: #777;
}

.header {
    justify-content: space-between;
    height: var(--header-height);
    --text: #aaa;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    display: inline-block;
}

.gradient-color {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#fff, #8b0000, #333);
}

.scroll-fade {
    visibility: hidden;
}

.emerge {
    animation: emerge ease-in 2s;
}

.fade-in {
    animation: fade-in ease 1s;
}

@keyframes emerge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.post {
    background-color: var(--post-bg);
    color: var(--text);
    height: var(--post-height);
    border-radius: 0.5rem;
    justify-content: left;
    align-items: flex-start;
    margin: auto 4vw;
    margin-bottom: 1rem;
    display: block;
}

.post-title {
    color: var(--text);
    font-size: 1.5rem;
}

.post-description {
    height: calc(var(--post-height) - 5rem);
    line-height: 1.5rem;
    /* include bottom padding in height */
    height: calc(6rem + 1rem);
    overflow: hidden;
    position: relative;
}

/* Fades out the overflowing text */
.post-description:after {
    content: "";
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--post-bg) 50%);
}

.post-link {
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    opacity: 0;
}

.full-post {
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.full-post .post-description {
    overflow: visible;
    height: auto;
}

.full-post .post-description:after {
    content: none;
}
